body {
    height: auto;
    background-color: rgb(68, 156, 234);
}
main {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #3F5BE8;
 
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

header {
    height: auto;
    background-color: #f7f7f7;
    border: solid 1px #3F5BE8;
    
}

section { 
    height: auto;
    background-color: #ffffff;
    border: solid 1px #3F5BE8;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 20px;
    
}
#preguntas {
    height: auto;
    background-color: #baf5f7;
    border: solid 1px #3F5BE8 ;
}
img.conteiner{
   text-align: center;
   position: left;
}
.circulo {
    border-radius: 50%;
    background-color: rgb(0, 120, 32);
    width: 30px;
    height: 30px;
    float: left;
}
#estilos{
    text-align: center;
    justify-content: center ;
}
#crc{
    text-align: center;
    justify-content: center ;
}
